@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Public Sans Variable", sans-serif;
}

/* Xóa màu autofill của Chrome */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}

@layer components {
  .card {
    @apply rounded bg-white p-4 shadow;
  }

  .container {
    @apply mx-auto flex max-w-6xl gap-4 p-6;
  }
}
